.history
{
    font-size:          25px;
    padding:            10px 20px 0px 0px;
    margin:             10px;
    border-radius:      5px;
    text-align:         right;
    color:              black;
}