.input
{
    display:            grid;
    grid-column:        5/5;
    grid-row:           1/4;
    font-size:          25px;
    padding:            10px 20px 0px 0px;
    margin:             10px;
    border-radius:      5px;
    text-align:         right;
    height:             60px;
    border: 2px solid black;
    color:            white;
    background-color: #13141a;
}