body
{
    background-image: url('../../public/assets/img/bg.png');
    background-repeat:     no-repeat;
    background-size:       cover;
    background-position:   center;
}

.main
{
    display:         flex;
    justify-content: center;
    width:  100vw;
    height: 100vh;
}

.oper-buttons
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.number-buttons
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.submit-button
{
    display:     grid;
    grid-column: 4/5;
    grid-row:    1/5;
}